<!DOCTYPE html> 
<html> 

<head> 
	<title>Lose Page</title> 
	
	<style type="text/css" media="screen"> 
		body { 
			background-color: skyblue; 
			text-decoration-color: white; 
			font-size:7em; 
		} 
        input{
            margin: auto;
        }
	</style> 
</head> 

<body> 
	<center>Game Over!! Refresh to Play again</center>
</body> 

</html>	 
